/* 

  @media only screen and (max-width: 370px) {
    #app{
       
    }
    .header {
 

 
}
    .areaPlay {
       
    }

    .header__menu .list-menu {
   

}

    .header__menu .list-menu .menu-item {
  
    }

    .areaPlay .left {
       
    }

    .areaPlay .left .container-type .type .car, .areaPlay .left .container-type .type .map, .areaPlay .left .container-type .type .figure, .areaPlay .left .container-type .specialPlay {
      
font-size: 14px;
    }

    .areaPlay .left .container-type .specialPlay .text {
       
font-size: 14px;
    }
    .areaPlay .right {
      
    }
    .container-figure {}

    .areaPlay .right .boardRank{}

    .areaPlay .right .boardRank .level {
       
top: 36%;
       
font-size: 12px;
    }
    .areaPlay .right .boardRank .container-rank {
       
top: 49%;
       
margin-left: -23px;
       
width: 242px;
    }
    .areaPlay .right .boardRank .container-rank .rank .line-background {
      

    }

    .container-areaPlay {
 
    }
    .areaFigure {
       

    }
    img#item1 {
      
    }
    img#item2 {
        
    }
    img#item3 {
        
    }
    .areaFigure .mainFigure img {
       
    }
    img#item4 {
      
    }

    .container-figure{}

    .areaFigure .listFigure {
      

    }
    .areaFigure .selectFigure .arrow-up,.areaFigure .selectFigure .arrow-down,.areaFigure2 .selectFigure .arrow-up,  .areaFigure2 .selectFigure .arrow-down,.areaFigure3 .selectFigure .arrow-up,  .areaFigure3 .selectFigure .arrow-down {
    

    }
   
    .areaFigure2 .listFigure .listFigure-item {
        
    }
    .areaFigure2 {
    }
    .areaFigure2 .selectFigure {

      
    }
    .areaFigure2 .listFigure {
             
    
    }
    .areaFigure2 .mainFigure img {
    
    }

    .container-car {

    }

    .areaFigure3 {

    }

    .areaFigure3 .listFigure .listFigure-item {
      
    }
    .areaFigure3 .listFigure {
       

    }
    .areaFigure3 .mainFigure img {
      
    }
    .areaFigure3 .selectFigure {
      
     
    }
    .container-map {
   
    }
    .areaSpecialPlay .logo {
        
    }
    .areaSpecialPlay{ }
    .areaSpecialPlay img.logo {
        
    }

    .areaPlay .right .boardRank .container-rank .rank .metal {
   
}
    .areaPlay .right .boardRank .container-rank .rank .player  {
   
}
    .areaPlay .right .boardRank .container-rank .rank .time {

}

.lineFigure .text{
  
}
.lineFigure2 .text {
 
}
.lineFigure3 .text {
   
}

.lineFigure img {
    
}
      .lineFigure2 img{
  
}
      .lineFigure3 img{
    
}

.areaPlay .left .container-type .specialPlay img{height: 72px;top: 19px;}
.play .btnPlay {
    

}
.areaPlay .left img {
  
}

.play img {
  
}

.areaPlay .right .container-img {
}

.areaPlay .right .container-img .img-left, .areaPlay .right .container-img .img-right {
   

}
.whatIsTheGem {
 
}

.areaPlay .left .container-type {
    

}
.areaPlay .left .container-type .specialPlay{}
.container-whatIs{}
.areaPlay .right .container-img .img-left, .areaPlay .right .container-img .img-right {}

.areaFigure .listFigure::-webkit-scrollbar,.areaFigure2 .listFigure::-webkit-scrollbar,.areaFigure3 .listFigure::-webkit-scrollbar   {
    
  }


  .whatIsTheCrystal, .whatIsTheGem, .whatIsTheCoin{}
  .container-whatIs .roadMap{
  
}
  .container-whatIs .roadMap2{
    
}

.areaPlay .right .boardRank img{}


.container-rank-father #scrollBar{
  

}
}
 */
